{%extends 'localadmin/base.html'%}
{%block title%}Logs{%endblock title%}
{%block page_header%}{{iuser.username}}{%endblock page_header%}
{%block content%}
    
        <div class="card mb-3">
            <div class="card-body">
               {%for k, v in info.items%}
                    {%if k == 'password'%}
                        <p>{{k}}: ********</p>
                    {%else%}
                        <p>{{k}}: {{v}}</p>
                    {%endif%}
                {%empty%}
                    <p>No logs available.</p>
                {%endfor%}
                </div>
        </div>
    
{%endblock%}
